/* Artist */

.section-title { margin-top: 0; width: 550px; background: #ee1c25 url(../images/back-dt-3.gif) no-repeat; border: none; color: white; }

#content #content-download { margin: 0 auto; font-size: 0.8em; width: 550px; background: #003f7d; }
#content #picture-download { width: 257px; float: left; text-align: center; line-height: 1.3em; margin-bottom: 10px; }
#content #picture-download .border-picture { margin: 10px; }
#content #picture-download p { margin: 0 10px; text-align: left; color: #fff; }
#content #picture-download p span { font-size: 1.1em; }
#content #picture-download p span a { color: #ffed00; text-decoration: none; }
#content #picture-download p span a:hover { color: #ffffff; text-decoration: underline; }



#content #other-tracks { width: 290px; float: right; margin-bottom: 10px; }
#content #other-tracks dl { margin: 10px 10px 0 0; }
#content #other-tracks dt { background: #3468b4; height: 25px; color: white; text-align: center; line-height: 25px; vertical-align: middle; }
#content #other-tracks dd { height: 28px; line-height: 24px; vertical-align: middle; font-size: 0.8em; background: #00266b; }
#content #other-tracks dd a {  color: #2c2c2c; width: 235px; text-decoration: none; line-height: 24px; }
#content #other-tracks dd a:hover { background: #FFFFFF; color: black; }
#content #other-tracks dd .light-blue { background-color: #f0f0f0; }


/* Tracks list */

#content .section-title h2 { margin: 0; line-height: 30px; vertical-align: middle; }
#content .track { font-size: 0.7em; margin: 0 auto; width: 550px; height: 40px; background: white url(../images/star-small.gif) 5px center no-repeat; }
#content .track-color { color: white; background-color: #f0f0f0; }
#content .track-selected { font-size: 0.7em; width: 550px; margin: 0 auto; height: 40px; background: #e6e4e4 url(../images/star-small-orange.gif) 3px 8px no-repeat; }
#content .track-name { color: #181818; width: 70%; float: left; height: 32px; line-height: 32px; vertical-align: middle; }
#content .track-name span {  padding-left: 25px; }
#content .track-name .time {  padding-left: 5px; color: #3b61a2; font-size: 0.9em; }
#content .track-buttons { width: 30%; float: right; text-align: right; height: 32px; }
#content .track-buttons img { vertical-align: middle; line-height: 32px; }
#content .track-selected span { color: #3569b5;  }

#disc1, #disc2, #disc3, #disc4, #disc5, #disc6 { display: none; }
#l1, #l2, #l3, #l4, #l5, #l6 { padding: 0 5px;  font-size:0.8em; height: 23px;  color: #fff; background: #ff424a; text-decoration: none; float: right; margin: 3px 3px 0 3px; line-height: 23px; }
#content .unselected-link { background: #c0161d; }
#content .selected-link { background: #d2000d; color: #2c2c2c; }
#content .hidden-disc { display: none; }
#content .show-disc { display: block; }
