losbody, html { height: 100%; }
body { background: #f0f0f0 url(../images/general-back.gif) center center repeat-y; font: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; color: white; } /* Cambia */
.jump { clear: both; height: 0; overflow: hidden; }
.section-title { width: 548px; height: 30px; margin: 10px auto 0 auto; background:#ff0000; border: 1px solid #ee1c25; line-height: 36px; vertical-align: middle; color: #00266b; } /* cambia */
.section-title h2 { padding-left: 10px; font-weight: bold; font-size: 0.9em;}
.border-picture { border: 2px solid #cdc9c6; }
.space-icons { margin: 8px 3px 0 3px; }

/* Light Box Styles */
#lightbox { width: 100%; height: 100%; position: absolute; display: none; vertical-align: middle; /*display: none;*/ }
#black-block { width: 100%;height: 100%;background: black;opacity: .5;-moz-opacity:0.5;position: absolute; z-index: 10; }
#white-content { width: 100%; height: 100%;	text-align: center;	position: absolute; display: table; vertical-align: middle; z-index: 11; }
#white-block { position: relative; padding-bottom: 10px; display: table-cell; vertical-align: middle; }
#download-window { width: 400px; margin: 0 auto; background: white; color: white; font-weight:bold;}
#download-window .title { font-size: 0.8em; background: #3468b4; height: 30px; line-height: 30px; vertical-align: middle; text-align:center; }
#download-window .download-content { font-size: 0.8em;  line-height: 1.2em; }
#download-window .download-content img { border: 3px solid #cdcdcd; float: left; margin: 8px; }
#download-window .download-content p { float: left; text-align: left; margin-top: 15px; color: #555555; font-size: 0.9em; }
#download-window .download-content p span { font-weight: normal; }
#download-window .insert-code { font-size: 0.7em; color:#9A9A9A; text-align: center; margin-bottom: 10px; }
#download-window #valor_tema { font-size: 0.7em; color:#9A9A9A; text-align: center; margin-bottom: 10px; }
#download-window #extra-info { font-size: 0.7em; color:#9A9A9A; text-align: center; margin-bottom: 10px; }
#download-window #code { color: #737373; }
#download-window .close { text-align: center; margin-bottom: 10px; }
#download-window .close a { color: #00276c; text-decoration: none; font-size: 0.8em; }
#download-window .close a:hover { text-decoration: underline; }
#respuesta-error { color: red; font-size: 0.9em; }
#respuesta-ok { color: green; font-size: 0.9em; }
#respuesta-ok a { color: green;}
#respuesta-ok span { color: #9A9A9A; font-size: 0.7em; }
#download-window #instrucciones-descargas { text-align: left; color: #555555; font-size: 0.7em; font-weight: normal; line-height: 1.3em; padding: 5px; margin: 5px 20px; border: 1px solid #888888; }
#download-window #instrucciones-descargas strong { color: #3468b4; display: block; margin-bottom: 3px; }


/* Header */
#header { width: 1024px; margin:0; auto; }
#header-logo {background-image: url(../images/header_bg.png); display:inline-block; width: 78%; *display: inline; zoom:1; /* IE */}
#logo { width: 22%; text-align: left; padding-top: 0px; display:inline-block; margin-left: 10px; height: 140px; background: url(../images/logo.png) 20px 20px no-repeat; *display: inline; zoom:1;/* IE */ }
#logo h1 { text-indent: -9000px; display: block; width: 120px; height: 105px; margin: 0; padding: 0; float: left; } /* Cambia */
#logo h1 a { display: block; width: 120px; height: 105px; float:left;} /* Cambia */
#total-tracks { float: right; width: 190px; color: white; height: 90px; margin-top: 15px; position:relative; overflow:hidden }
#title-plaque { width: 210px; text-align: center; font-size: 1.5em; margin-bottom: 5px; }
#plaque { font-size: 1.2em; width: 210px; height: 40px; line-height: 40px; vertical-align: middle; text-align: center; background: url(../images/plaque-green.gif) center center no-repeat; position:relative; overflow:hidden; }
#plaque span { font-size: 0.6em; }
/**/
#menuSuperior { float: right; font-size: 0.8em; margin-top: 35px; margin-right: 30px; }
#menuSuperior li { display: inline; padding: 0 10px; }
#menuSuperior a { color: #bbd9ff; }
#menuSuperior a:hover { color: white; }
/**/
#login { float: right; text-align: right; width: 500px; font-size: 0.8em; margin-top: 26px; color: #4f4c4c; }
#login .button-orange { background: url(../images/back_ok_button.gif) repeat-x; border: 1px solid #4fb602; height: 24px; padding: 0 3px; color: white; margin-right:15px; }
#texto-login { text-align: right; color: #3469b2; margin-bottom: 0px; } /* Cambia */
#login form{ width:486px; background: url(../images/bg-form-login.gif) no-repeat top left; float:right; padding:8px 0; color:#FFF}
#texto-login a { color: #434343; text-decoration: none; } /* Cambia */
#texto-login a:hover { color: #ccc; text-decoration: none; } /* Cambia */
#login input { margin: 0 5px; }
#menu-bar { width: 720px; height: 30px; margin: 0 auto; background: #0086cb url(../images/back-menu.gif) top center no-repeat; margin-top: 10px; } /* Cambia */
#menu-bar li { display: block; float: left; padding: 0 10px; vertical-align: middle; border-left: 1px solid #ccd9f0; font-size:12px; border-right: 1px solid #3365c2; color: #fff; font-weight: bold; margin-top: 3px; } /* Cambia */
#menu-bar li a { color: #CCC;  text-decoration: none; font-weight: normal;  } /* Cambia */
#menu-bar li a:hover { color: #fff; text-decoration: none; } /* Cambia */
#menu-bar .first { border-left: none; }
#menu-bar .last { border-right: none; }
#abc { width: 720px; height: 27px; margin: 0 auto; background:#004282; color: #effbff; font-size: 0.8em; width: 720px; }
#abc #abc-title { float: left; height: 27px; padding-left: 10px; }
#abc #abc-words { float: right; width: 450px; height: 27px; line-height: 27px; text-align: right; }
/*#abc-words .letters { letter-spacing: 3px; }*/
#abc-words span { display: block;}
#abc-words a { display: block; float: left; color: white; text-decoration: none; padding: 0px 3px; } /* Cambia */
#abc-words a:hover { color: #2F588B; background: white; } /* Cambia */
#finder { width: 720px; height: 46px; margin: 0 auto; background:#0086cb url(../images/back-finder.gif) bottom center no-repeat; font-size: 0.8em; color: white; text-align: center; }
#finder #news { float: left; width: 600px; height: 46px; }
#finder #search { width: 900px; height: 46px; margin: 0 auto; }
#finder #search input, #finder #news input { margin: 10px 3px 0 3px; color: #003f7d; }
#finder #search .button-blue { background: url(../images/back_send_button.gif) repeat-x; border: 1px solid #5ec5ed; height: 24px; color: #072944; }
#finder #search #label { width: 300px; }

/* Content */

#content-box #content .faq-title { width: 550px; font-size: 1.0em; font-weight: 800; border: solid 1px #ee1c25; background: #ee1c25 url(../images/back-dt-3.gif) no-repeat; border: none; }
#content-box #content .faq {
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	width: 548px;
	margin: 10px auto;
	padding: 10px;

}
#content-box { width: 1000px; padding:5px 21px 0 0; margin: 0 auto ;  }
#content-box #left-column { width: 200px; height: 249px; background: #5a8fc1; margin-bottom: 5px;}
#content-box #left-column dl{ width:200px; margin:0 auto; padding-bottom: 5px; }
#content-box #left-column dt { width: 200px; height: 28px; color: white; line-height: 27px; vertical-align: middle;padding-left:10px;  font-weight:bold; text-align: left; font-size: 0.9em;} /* Cambia */
#content-box #left-column dd { width: 190px; height: 27px; line-height: 27px; margin-left:5px; vertical-align: middle; font-size: 10px; background-color:#FFF; margin: 0 5px; }
#content-box #left-column dd a {display:inline-block; width:200px;line-height:30px; background: url(../images/bullet_categories.gif) no-repeat  0 center;background-position-x:10px;  color: #181818;  height: 27px; text-decoration: none; padding-left: 25px; } /* Cambia */
#content-box #left-column dd a:hover { color: #787878; } /* Cambia */
#content-box #left-column dd .light-blue { background-color: #f0f0f0; } /* Cambia */
#content-box #left-column img { margin-top: 10px; }
#content-box #content { width: 570px; float:left; }


#content-box #right-column { width: 230px; height:249px; float: right; background: #feb727;  margin-bottom: 5px; }
#content-box #right-column dl{ width:230px;  margin:0 auto; background: url(../images/back-dt-bottom-2.gif) bottom center no-repeat; padding-bottom: 5px; }
#content-box #right-column dt { width: 230px; height: 30px; color: white; line-height: 30px; vertical-align: middle;  font-weight:bold; background: url(../images/back-dt-2.gif) no-repeat; text-align: left; padding-left:15px; font-size: 0.9em;} /* cambia */
#content-box #right-column dd { width: 220px; background: white url(../images/bullet_blue.gif) no-repeat 5px 10px; height: 43px; font-size: 0.8em; margin: 0 5px; } /* Cambia */
#content-box #right-column dd ul { vertical-align:middle;margin-top:5px; }
#content-box #right-column dd ul li { line-height: 1.3em; vertical-align: middle; }
#content-box #right-column dd .artist { font-size: 0.9em; color: #3062a9; } /* cambia */
#content-box #right-column dd a {  font-size: 10px; color: #181818; text-decoration: none; padding-left: 35px; } /* cambia */
#content-box #right-column dd a:hover { font-size: 10px; color: #787878; } /* Cambia */
#content-box #right-column .light-blue { background-color: #f0f0f0; } /* Cambia */
#content-box #right-column .top { height: auto; background-image: none; }
#content-box #right-column .top ul { padding: 0; }
#content-box #right-column img { margin: 15px 0 0 15px; }

/*
RIGHT COLUMN MI CUENTA
*/

#content-box #right-column-micuenta { width: 230px;  float: right; background: #427abf;  margin-bottom: 5px; vertical-align: top; }
#content-box #right-column-micuenta dl{ width:230px; margin:0 auto; padding-bottom: 5px; }
#content-box #right-column-micuenta dt { width: 230px; height: 30px; color: white; line-height: 30px; vertical-align: middle;  font-weight:bold; text-align: center; font-size: 0.9em;text-align: left; padding-left:10px;} /* cambia */
#content-box #right-column-micuenta dd { width: 220px; min-height:80px; background: white; _height: 80px; font-size: 0.8em; margin: 0 5px; } /* Cambia */
#content-box #right-column-micuenta dd ul { padding-top: 10px; }

#content-box #right-column-micuenta dd span {display:block; vertical-align:middle; float:left;   width:70px; height:15px; padding-left:5px; font-size: 11px; color: #3062a9; } /* cambia */

#content-box #right-column-micuenta dd input { background:#FFFFFF; padding-left:10px; border:1px solid #CCCCCC; width:70px; height:15px; font-size:0.9em; color:#555555; }
#content-box #right-column-micuenta dd input:focus { background:#FFFFCC; padding-left:10px; border:1px solid green; width:70px; height:15px;color:#333333; font-size:0.9em;}
#content-box #right-column-micuenta dd .btnlogin {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: #FFFFFF url(../images/bg-bt-ingresar.png) no-repeat top right;
}
#content-box #right-column-micuenta dd ul li { line-height: 15px; vertical-align: middle; }
#content-box #right-column-micuenta .listaenlace{margin-top:5px;margin-left:30px; width:100%;  list-style-image: url("../images/tag_blue.png");text-align:left;  }
#content-box #right-column-micuenta .listaenlace2{font-size: 0.8em; margin-top:2px; margin-left:10px; width:50%;  list-style:none; text-align:left;  }
#content-box #right-column-micuenta .listaenlace3{font-size: 0.8em; margin-top:2px;  list-style:none; text-align:left;  }
#content-box #right-column-micuenta dd a {  font-size: 0.9em; color: #3062a9;  text-decoration: none; } /* cambia */
#content-box #right-column-micuenta dd a:hover { font-size: 0.9em;  color: #55166f; text-decoration: underline; } /* Cambia */
#content-box #right-column-micuenta .light-blue { background-color: #f0f0f0; } /* Cambia */
#content-box #right-column-micuenta .top { height: auto; background-image: none; }
#content-box #right-column-micuenta .top ul { padding: 0; }
#content-box #right-column-micuenta img { }
/*
RIGHT COLUMN FAQ
*/
#content-box #right-column-faq { width: 230px; float: right; background: #ffa506;  margin-bottom: 5px; vertical-align: top; }
#content-box #right-column-faq dl{ width:230px;  margin:0 auto; padding-bottom: 5px; }
#content-box #right-column-faq dt { width: 230px; height: 30px; color: white; line-height: 30px; vertical-align: middle;  font-weight:bold; text-align: center; font-size: 0.9em;text-align: left; padding-left:10px;} /* cambia */
#content-box #right-column-faq dd { width: 220px;  height: 80px; background: white; _height: 90px; font-size: 0.8em; margin: 0 5px; } /* Cambia */
#content-box #right-column-faq dd span {display:block; vertical-align:middle; float:left;   width:70px; height:15px; padding-left:1px; font-size: 0.9em; color: #3062a9; } /* cambia */
#content-box #right-column-faq dd input { background:#CCFFFF; padding-left:10px; border:1px solid #CCCCCC; width:70px; height:15px; font-size:0.9em; color:#555555; }
#content-box #right-column-faq dd input:focus { background:#FFFFCC; padding-left:10px; border:1px solid green; width:70px; height:15px;color:#333333; font-size:0.9em;}
#content-box #right-column-faq dd ul li { line-height: 1.3em; vertical-align: middle; }
#content-box #right-column-faq .listaenlace{margin-left:25px;font-size: 0.95em; width:90%;  list-style-image: url("../images/tag_green.png");text-align:left;  }
#content-box #right-column-faq dd a {  font-size: 0.9em; color: #3062a9;  text-decoration: none; } /* cambia */
#content-box #right-column-faq dd a:hover { font-size: 0.9em;  color: green; text-decoration: underline; } /* Cambia */
#content-box #right-column-faq .light-blue { background-color: #f0f0f0; } /* Cambia */
#content-box #right-column-faq .top { height: auto; background-image: none; }
#content-box #right-column-faq .top ul { padding: 0; }


/*
RIGHT COLUMN BACKTONES ESCUCHADOS

*/
#content-box #right-column-backtones-escuchados { width: 230px;  float: right; background: #ff0000;   vertical-align: top;margin-bottom: 5px; }
#content-box #right-column-backtones-escuchados dl{ width:230px; margin:0 auto;  padding-bottom: 5px; }
#content-box #right-column-backtones-escuchados dt { width: 230px; height: 30px; color: white; line-height: 30px; vertical-align: top;  font-weight:bold; text-align: center; font-size: 0.9em;text-align: left; padding-left:10px;} /* cambia */
#content-box #right-column-backtones-escuchados dd { width: 220px; height: 135px;  background: white; font-size: 0.8em; margin: 0 5px; } /* Cambia */
#content-box #right-column-backtones-escuchados dd ul li { line-height: 1.3em; vertical-align: top; }
#content-box #right-column-backtones-escuchados .listaenlace{ margin-left:30px; width:100%;  list-style-image: url("../images/tag_blue.png");text-align:left;  }
#content-box #right-column-backtones-escuchados dd a {  line-height:8px; font-size: 11px; color: #3062a9;  text-decoration: none; } /* cambia */
#content-box #right-column-backtones-escuchados dd a:hover { font-size: 11px;  color: #55166f; text-decoration: underline; } /* Cambia */
#content-box #right-column-backtones-escuchados .light-blue { background-color: #f0f0f0; } /* Cambia */
#content-box #right-column-backtones-escuchados .top { height: auto; background-image: none; }
#content-box #right-column-backtones-escuchados .top ul { padding: 0px; }
#content-box #right-column-backtones-escuchados img { }
#content-box #right-column-backtones-escuchados .albumes { width:105px; height:120px; min-height:120px; padding-top:0px; }
/*
CONTEXT ACCORDION
*/
#content-box #accordion-column { width: 200px; float: left; background: #6ab9e4; }
#content-box #accordion-column dl{ width:200px; height:418px; margin:0 auto; padding-bottom: 5px; }
#content-box #accordion-column dt { width: 200px; height: 30px; color: white; line-height: 30px; vertical-align: middle;  font-weight:bold; text-align: left; padding-left:10px; font-size: 0.9em;} /* cambia */
#content-box #accordion-column dd { width: 200px;  font-size: 0.8em; margin: 0 0px; } /* Cambia */
#content-box #accordion-column dd ul { background:#6ab9e4; overflow:hidden; }
#content-box #accordion-column dd ul li {  vertical-align: middle;  }
#content-box #accordion-column li .rankeados{
        background: url(../images/star_green.png) no-repeat;
        background-position: left;
        width:16px;
        height:16px;
        float:left;
        margin-left:2px;
        padding-left:3px;
}
#content-box #accordion-column li .votados{
background: url(../images/icon-accordion-votado.png) no-repeat;
background-position: left;
float:left;
width:16px;
height:16px;
padding-left:3px;
margin-left:2px;

}
#content-box #accordion-column li .comprados{

background:url(../images/icon-accordion-comprado.png) no-repeat;
width:16px;
height:16px;
float:left;
margin-left:2px;
padding-left:3px;

}
#content-box #accordion-column li .listatonos-losmas{
    width:200px;
    height:31px;
    background: #6ab9e4;
    text-align:left;
    padding-left:3px;

}
#content-box #accordion-column li .listatonos-losmas-votados{
    width:200px;
    height:31px;
    background: #0094d2;
    text-align:left;

}
#content-box #accordion-column li .listatonos-losmas-comprados{
    width:200px;
    height:31px;
    background: #0169b2;
    text-align:left;
}
#content-box #accordion-column li .listatonos-losmas-rankeados{
    width:200px;
    height:31px;
    background: #014e9c;
    text-align:left;
}
#content-box #accordion-column li .tonos-losmas{
padding-left:1px;width:185px;*width:164px;

}
#content-box #accordion-column dd .tonos { display:block; font-size: 10px; color: #FFFFFF;line-height:1.50em;text-decoration:none; } /* cambia */
#content-box #accordion-column dd .tonos:hover {display:block;  font-size: 10px; color: #EEFFEE; text-decoration: underline; line-height:1.50em;} /* cambia */
#content-box #accordion-column dd .artist {display:block;  font-size: 9px; color: #EEEEEE;line-height:1.10em;text-decoration:none; } /* cambia */
#content-box #accordion-column dd .artist:hover { display:block; font-size: 9px; color: #CCFFCC; text-decoration:underline;line-height:1.10em; } /* cambia */

#content-box #accordion-column dd a { /* color: #181818; text-decoration: none;*/  } /* cambia */

#content-box #accordion-column dd a:hover { color: #787878; } /* Cambia */
#content-box #accordion-column .light-blue { background-color: #2f588b; } /* Cambia */
#content-box #accordion-column .top { height: auto; background-image: none; }
#content-box #accordion-column .top ul { padding: 0; }
#content-box #accordion-column img {  }


/* Footer */

#footer { margin: 0 auto; width: 1000px; background: #fff; text-align: center; font-size: 0.7em; font-weight:700; padding:15px 21px; border-left:#d4d4d4 solid 1px; border-right:#d4d4d4 solid 1px; } /* cambia */
#footer ul li { display: inline; color: #666; } /* cambia */
#footer ul { padding: 15px; }
#footer ul li a { color: #666; text-decoration: none; } /* cambia */

#footer ul li a:hover { color: #999; } /* cambia */
#footer img { margin-bottom: 15px; }

/*
------------------------------------------------
ACCORDION
------------------------------------------------
*/

ul#accordion, ul#accordion ul { border:none; }
ul#accordion { }

ul#accordion li { }
ul#accordion ul li {
	border: none;
	background:#FFFFCC;
	color: #999;


}
ul#accordion ul li:last-child { border-bottom: none; }

ul#accordion a.heading {
	color: #181818;
	display: block;
	font-size: 11px;
	line-height: 0px;
        padding: 12px 25px;
	text-decoration: none;
}
ul#accordion a.bg-1{
    background: url(../images/bg_los-mas-votados.jpg) no-repeat;
}
ul#accordion a.bg-1:hover{
    background: url(../images/bg_los-mas-votados-glow.jpg) no-repeat;
}
ul#accordion a.bg-2{
    background: url(../images/bg_comprados.jpg) no-repeat;
}
ul#accordion a.bg-2:hover{
    background: url(../images/bg_comprados_glow.jpg) no-repeat;
}

ul#accordion a.bg-3{
    background: url(../images/bg_los-mas-descargados.jpg) no-repeat;
}
ul#accordion a.bg-3:hover{
    background: url(../images/bg_los-mas-descargados-glow.jpg) no-repeat;
}
ul#accordion a.heading:hover {
    /*background: url(../images/back-hd-accordion-up.gif) no-repeat;   */
    color: #3333CC;
    text-decoration: underline;}
ul#accordion { float: left; width: 200px; padding-left:0px; margin-left:0px; margin-right:0px; }
ul#accordion li { float: left; width: 200px; }
ul#accordion a.heading { width: 200px; }
ul#accordion ul li { float: none; width: auto; }
ul#accordion li.ui-accordion-selected a.heading { background: #025185; color: #fff; }


#contenedor-busqueda{
    height: 90px;
    padding-top:0px;
    width:245px;
    vertical-align: middle;
}




#contenedor-busqueda2{
    height: 90px;
    padding-top:0px;
    width:445px;
    vertical-align: middle;
    text-align:center;
    padding-top:10px;
}
#light-blue2 { background-color: #f0f0f0; }
#contenedor-busqueda .imagen-busqueda{
    float:left;
    padding-top:5px;
    padding-right:10px;    
}

#contenedor-busqueda .contenedor-enlaces-busqueda{
    padding-top:10px;
    vertical-align: middle;
    display: block;
}


#contenedor-busqueda .enlaces-busqueda{
    color:gray;
    font-size:11px;
    font-family: Verdana, Tahoma, Arial;
    text-decoration: none;
    width:140px;
    line-height: 15px;

    display:block;


}
#contenedor-busqueda:hover{ background-color: #f0fff0; }

#contenedor-busqueda .enlaces-busqueda:hover{
    color:#339999;
    text-decoration: underline;
    font-size:11px;
    font-family: Verdana, Tahoma, Arial;
    width:140px;
    line-height: 15px;
    display:block;
}
#panel-busqueda
{
    width:720px; display:inline; vertical-align: top;  text-align:left;
}
#panel-busqueda .contenedor_texto_busqueda
{
    width:450px;  display:inline; text-align:left; float:left; padding-left: 10px;
}
#panel-busqueda .contenedor_tipo_busqueda
{
    width:150px;text-align:right; display:inline; float:left; vertical-align: top;
}
#panel-busqueda .contenedor_boton
{
    width:60px; vertical-align:top;display:inline;  float:left;
}

/*
------------------------------------------------
SS7 Style
------------------------------------------------
*/
#panel-busqueda{ display:inline-block;text-align:center;  width:75%;  vertical-align: bottom; margin-bottom: 12px; *display:inline; zoom:1;}
#panel-login {width:230px; height:170px; background: url(../images/panel_login_bg.jpg) no-repeat top left; margin-top:10px;float: right;}
#panel-login-caja{border:1px solid #F00000;width:220px; height:110px; margin-top:40px; margin-left:5px; }

#box-contenido { position:relative;width: 97%; background:#FFFFFF; margin-left:3px; }
#box-contenido ul{
	list-style-image: none;
}
#box-contenido li{
	padding-left:5px;
	padding-top:5px;
	text-align:center;
	vertical-align:text-top;
}
#box-contenido li.lista-a{
	background:#FFFFFF;
	background-position: 0px;
	list-style-image: url(../images/lista-genero.gif);
	list-style-position: inside;
	height:25px;
}
#box-contenido li.lista-b{
	background:#CCFFCC;
	background-position: 0px 0px;
	list-style-image: url(../images/lista-genero.gif);
	list-style-position: inside;
	height:25px;

}
#box-contenido li.lista-c{
	background:#FFFFFF;
	background-position: 0px;
	list-style-image: url(../images/play.png);
	list-style-position: inside;
	margin:0;
}
#box-contenido li.lista-d{
	background:#FFFFCC;
	background-position: 0px 0px;
	list-style-image: url(../images/play.png);
	list-style-position: inside;
	margin:0px;
}
#box-contenido a.lista-genero-link{
	color:#FF0000;
	font: 13px Verdana, Arial, Helvetica, sans-serif; color: gray;
	vertical-align:text-top;
        text-decoration: none;
}
#box-contenido a:hover.lista-genero-link{
	color:green;
	font: 12px Verdana, Arial, Helvetica, sans-serif; color: gray;
	vertical-align:text-top;
        text-decoration: none;
}
#box-contenido a.lista-descargas-link{
	color:#CC0000;
	font: 10px Verdana, Arial, Helvetica, sans-serif; color: gray;
	vertical-align:top;
	width: 100%;
}
#box-contenido a.lista-descargas-link-tema{
	color:#CC0000;
	display:inline;
	font: 10px Verdana, Arial, Helvetica, sans-serif; color: gray;
	vertical-align:top;
	width: 100%;
        text-decoration:none;
}
#box-contenido a:hover.lista-descargas-link-tema{
	color:green;
	display:inline;
	font: 10px Verdana, Arial, Helvetica, sans-serif; color: gray;
	vertical-align:top;
        text-decoration:none;
	width: 100%;
}
#box-contenido a.lista-descargas-link-autor{
	color:#CC0000;
	font: 10px Verdana, Arial, Helvetica, sans-serif; color: gray;
	font-weight:bold;
	display:block;
	padding-left:25px;
	padding-bottom:5px;
	vertical-align:top;
	width: 100%;
}
fieldset.search {
	border: none;
	width: 243px;
	margin: 0 auto;
	background: #222;
}
.search input, .search button {
	border: none;
	float: left;
}
.search input.box {
	color: #fff;
	font-size: 1.2em;
	width: 190px;
	height: 30px;
	padding: 8px 5px 0;
	background: #616161 url(search_bg.gif) no-repeat;
	margin-right: 5px;
}
.search input.box:focus {
	background: #616161 url(search_bg.gif) no-repeat left -38px;
	outline: none;
}
.search button.btn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	text-indent: -9999px;
	background: #fbc900 url(search_bg.gif) no-repeat top right;
}
.search button.btn:hover {
	background: #fbc900 url(search_bg.gif) no-repeat bottom right;
}
#contenedor-albumes{
		display:block;
		float:left;
		width:511px;
		min-height:200px;
                _height:200px;
}

#content-box-album{
		text-align: center;
		display:inline-block;
		width:120px;
		min-height:180px;
		_height:180px;
		padding-top:10px;
                vertical-align:top;
                 *display: inline; /* IE */
                 zoom:1;


}

#content-box-album a{
	 display:block;
	 padding-top:3px;
	 text-align: center;
}

#content-box-album a:hover{
	 display:block;
	 padding-top:3px;
	 text-align: center;

}

#content-box-album a.link-titulo{

 	display:block;
 	padding-top:3px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #072944;
        text-decoration: none;
	text-align: center;
}

#content-box-album a:hover.link-titulo{

 	display:block;
 	padding-top:3px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #55166f;
        text-decoration: none;
	text-align: center;
}

#content-box-album a.link-artista{

 	display:block;
 	padding-top:3px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
        font-weight:bold;
	color: #000;
	text-align: center;
        text-decoration: none;
        padding-bottom:10px;
}
#content-box-album a:hover.link-artista{
	display: block;
	padding-top: 3px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #55166f;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10px;
}


#content-box-botonera{
		text-align: left;
                display: inline-block;
                 *display: inline; /* IE */
                 zoom:1;
		width:20px;
		min-height:20px;
                _height:20px;

}
#content-box-botonera img{
                border: 0px;
                margin:0px;
                float:left;
                padding-top:1px;
                display:inline;
                padding-left:20px;

}
#content-box-botonera a{
                color: gray;
                vertical-align:text-top;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size:8px;
                padding-top: 0px;
                padding-bottom: 0px;
                text-decoration: none;
                margin:0px;
                display:inline;
}
#content-box-botonera a:hover{
                color: green;
                vertical-align:text-top;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size:8px;
                padding-top: 0px;
                padding-bottom: 0px;
                text-decoration: none;
                margin:0px;
                display:inline;
}

#contenedor-seleccion-genero{
    width:190px;height:215px; position:absolute; background:white; overflow: hidden;margin:0px; padding:0px;
}
#arriba_genero{
    position:relative;top:5px;float:right;right:2px;height:15px; width:15px; background:url(../images/icon-arrow-up.png) 0 0 no-repeat ;  z-index:300;cursor: pointer;
}
#bloque_genero{
    position:relative; width:170px;top:0px;height:175px;float:left;margin:0px; padding:0px; float:left; z-index:200;
}
#abajo_genero{
    position:relative;top:180px;float:right;right:2px;height:15px; width:15px; background:url(../images/icon-arrow-down.png) 0 0 no-repeat;  z-index:300;   cursor: pointer;

}

#contenedor-seleccion-recomendados{
    width:220px;height:215px; position:absolute; background:white; overflow: hidden;margin:0px; padding:0px;
}
#arriba_recomendados{
    position:relative;top:5px;float:right;right:2px;height:15px; width:15px; background:url(../images/icon-arrow-up.png) 0 0 no-repeat ;  z-index:300;cursor: pointer;
}
#bloque_recomendados{
    position:relative; width:190px;top:-5px;height:175px;float:left;margin:0px; padding:0px; left:-5px; z-index:200;
}
#abajo_recomendados{
    position:relative;top:190px;float:right;right:-12px;height:15px; width:15px; background:url(../images/icon-arrow-down.png) 0 0 no-repeat ;  z-index:300;   cursor: pointer;

}


#contenedor-seleccion-escuchados{
    width:220px;height:115px; position:absolute; background:white; overflow: hidden;margin:0px; padding:0px;
}
#arriba_escuchados{
    position:relative;top:45px;float:left;left:-1px;height:15px; width:15px; background:url(../images/icon-flecha-izquierda.png) 0 0 no-repeat ;  z-index:300;cursor: pointer;
}
#bloque_escuchados{
    position:relative; width:10000px;float:left;left:-3px;top:-12px;height:115px;margin:0px; padding:0px; z-index:200;  }

#abajo_escuchados{
    position:relative;float:right; top:45px; right:-1px;height:15px; width:15px; background:url(../images/icon-flecha-derecha.png) 0 0 no-repeat ;  z-index:300;   cursor: pointer;

}
#contenedor-scroller-player{
    position:relative;top:5px;float:right;right:5px;height:340px; width:7px; background:#EEEEEE; z-index:100;cursor: pointer;
}
#scroller-player{
    position:relative;top:5px;float:right;right:-5px;*right:5px;height:15px; width:17px; background:url(../images/ui-button.png) 0 0 no-repeat ;  z-index:150;cursor: pointer;
}
#lista-de-amigos{
    border-bottom: 1px solid #EEE;
    background: white;
    list-style-image: url(../images/icon-mis-amigos.png);
    list-style-position: inside;
    padding-left:5px;
}
#lista-de-amigos:hover{
    border-bottom: 1px solid #EEE;
    background-color: #f0f0f0;
    list-style-image: url(../images/icon-mis-amigos.png);
    list-style-position: inside;
    padding-left:5px;
}
#lista-de-amigos2{
    background: white;
    list-style-image: url(../images/icon-mis-amigos.png);
    list-style-position: inside ;
    margin-left:5px;
}
#lista-de-amigos2:hover{
    background-color: #f0f0f0;
    list-style-image: url(../images/icon-mis-amigos.png);
    list-style-position: inside;

}
#lista-de-grupos{
    border-bottom: 1px solid #EEE;
    background: white;
    list-style-image: url(../images/icon-mis-grupos.png);
    list-style-position: inside;
    padding-left:5px;
}
#contenedor-amigos{
    height: 90px; width:250px; background: #e9eae8; text-align: left; padding-left:10px;padding-top:10px;font-size: 10px; color:gray; line-height: 12px;
}
#contenedor-amigos input{
  background:#FFFFFF; padding-left:10px; border:1px solid #CCCCCC; width:90px; height:15px; font-size:1.1em; color:#062945;
}
#contenedor-amigos input:focus { background:#FFFFCC; padding-left:10px; border:1px solid #062945; width:90px; height:15px;color:#333333; font-size:1.1em;}
#contenedor-amigos .btn_agregar_amigos{
	width: 81px;
	height: 31px;
	cursor: pointer;
	background:  url(../images/btn-ingresar.png) no-repeat ;
}

#btn-asignar-backtone-dia
{
    margin-left:3px;
    margin-right:3px;
    background:URL(../images/turno-dia.png);
    width:15px;
    height:15px;
    line-height: 16px;
    float:left;
    cursor: pointer;
}
#btn-asignar-backtone-tarde
{

    padding-bottom: 0px;
   margin-left:3px;
    margin-right:3px;
    background:URL(../images/turno-tarde.png);
    width:16px;
    height:15px;
    line-height: 16px;
    float:left;
    cursor: pointer;
}
#btn-asignar-backtone-noche
{
    margin-left:3px;
    margin-right:3px;
    padding-bottom: 0px;
    background:URL(../images/turno-noche.png);
    width:14px;
    height:15px;
    line-height: 16px;
    float:left;
    cursor: pointer;
}
#btn-asignar-backtone
{
    margin-right:25px;
    padding-bottom: 0px;
    float:right;
    background:URL(../images/light-bulb-off.png);
    width:15px;
    height:15px;
    line-height: 16px;
    cursor: pointer;
}
#btn-asignar-backtone:hover
{
    margin-right:25px;
    vertical-align: top;
    padding-bottom: 0px;
    float:right ;
    background:URL(../images/icon-backtone-asignado.png);
    width:15px;
    height:15px;
    line-height: 16px;
    cursor: pointer;
}

#btn-desasignar-backtone
{
    margin-right:25px;
    margin-top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 15px;
    float:right ;
    background:URL(../images/light-bulb.png);
    width:15px;
    height:15px;
    cursor: pointer;
}

#btn-desasignar-backtone:hover
{
    margin-right:25px;
    padding-bottom: 0px;
    float:right;
    background:URL(../images/block.png);
    width:15px;
    height:15px;
    cursor: pointer;
}

#btn-desasignar-backtone-turno
{
    margin-left:3px;
    margin-right:3px;
    padding-bottom: 0px;
    background:URL(../images/light-bulb.png);
    width:14px;
    height:15px;
    line-height: 16px;
    float:left;
    cursor: pointer;
}

#btn-desasignar-backtone-turno:hover
{
    margin-left:3px;
    margin-right:3px;
    padding-bottom: 0px;
    background:URL(../images/block.png);
    width:14px;
    height:15px;
    line-height: 16px;
    float:left;
    cursor: pointer;
}

#btn-backtone-mora
{
    margin-right:15px;
    padding-bottom: 0px;
    float:right ;
    background:URL(../images/tono-mora.png);
    width:24px;
    height:24px;
    cursor: pointer;
}
#btn-eliminar-backtone
{
    margin-right:10px;
    padding-bottom: 0px;
    float:left ;
    background:URL(../images/trash_can.png);
    width:15px;
    height:15px;
    cursor: pointer;
}
#btn-rotacion1
{
    line-height: 16px;
    background:URL(../images/aleatorio_ds.jpg);
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion1-asignado
{
    line-height: 16px;
    background:URL(../images/aleatorio.jpg);
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion1:hover
{
    line-height: 16px;
    background:URL(../images/aleatorio.jpg);
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion2
{
    line-height: 16px;
    background:URL(../images/por_llamada_ds.jpg) no-repeat;
    width:16px;
    height:16px;
    margin-left:2px;
    margin-right:1px;
    cursor: pointer;
}
#btn-rotacion2-asignado
{
    line-height: 16px;
    background:URL(../images/por_llamada.jpg) no-repeat;
    width:16px;
    height:16px;
    margin-left:2px;
    margin-right:1px;
    cursor: pointer;
}
#btn-rotacion2:hover
{
    line-height: 16px;
    background:URL(../images/por_llamada.jpg) no-repeat;
    width:16px;
    height:16px;
    margin-left:2px;
    margin-right:1px;
    cursor: pointer;
}
#btn-rotacion3
{
    line-height: 19px;
    background:URL(../images/por_hora_ds.jpg) no-repeat;
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion3:hover
{
    line-height: 19px;
    background:URL(../images/por_hora.jpg) no-repeat;
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion3-asignado
{
    line-height: 19px;
    background:URL(../images/por_hora.jpg) no-repeat;
    width:16px;
    height:16px;
    cursor: pointer;
}
#btn-rotacion4
{
    line-height: 16px;
    background:URL(../images/por_turno_ds.jpg) no-repeat;
    width:17px;
    height:17px;
    cursor: pointer;
}
#btn-rotacion4:hover
{
    line-height: 16px;
    background:URL(../images/por_turno.jpg) no-repeat;
    width:17px;
    height:17px;
    cursor: pointer;
}
#btn-rotacion4-asignado
{
    line-height: 16px;
    background:URL(../images/por_turno.jpg) no-repeat;
    width:17px;
    height:17px;
    cursor: pointer;
}
#btn-rotacion5
{
    line-height: 16px;
    background:URL(../images/tono_fijo_ds.jpg) no-repeat;
    width:14px;
    height:16px;
    margin-right:2px;
    cursor: pointer;
}
#btn-rotacion5-asignado
{
    line-height: 16px;
    background:URL(../images/tono_fijo.jpg) no-repeat;
    width:14px;
    height:16px;
    margin-right:2px;
    cursor: pointer;
}
#btn-rotacion5:hover
{
    line-height: 16px;
    background:URL(../images/tono_fijo.jpg) no-repeat;
    width:14px;
    height:16px;
    margin-right:2px;
    cursor: pointer;
}
#btn-help-1
{
    line-height: 16px;
    background:URL(../images/information.png) no-repeat;
    width:12px;
    height:12px;
    margin-bottom:1px;
    cursor: pointer;
}
#btn-help-2
{
    line-height: 16px;
    background:URL(../images/information.png) no-repeat;
    width:12px;
    height:12px;
    margin-bottom:1px;
    cursor: pointer;
}
#btn-help-3
{
    line-height: 16px;
    background:URL(../images/information.png) no-repeat;
    width:12px;
    height:12px;
    margin-bottom:1px;
    cursor: pointer;
}
#btn-help-4
{
    line-height: 16px;
    background:URL(../images/information.png) no-repeat;
    width:12px;
    height:12px;
    margin-bottom:1px;
    cursor: pointer;
}
#btn-help-5
{
    line-height: 16px;
    background:URL(../images/information.png) no-repeat ;
    width:12px;
    height:12px;
    margin-bottom:1px;
    cursor: pointer;
}

#modo-backtone-actual
{
    font-size:10px;
    font-weight:bold;
    color:navy;
    text-decoration:underline;
}
#titulo-perfil-usuario
{
    width: 70px;
    color:gray;
    margin-left:5px;
    margin-right:5px;
    font-size:10px;
    display:inline-block;

}
#lista-usuarios
{
    height:25px;
    width: 100px;
    color:gray;
    font-size:10px;
    line-height:30px;

}
.estilo-enlace-home
{
    font-size:11px;
    color: #ffffff;
    text-decoration: none;
    padding-top:5px;
    line-height:30px;
    padding-right:5px;
}
.estilo-enlace-home:hover
{
    font-size:11px;
    color:#FFFFFF;
    padding-top:5px;
    padding-right:5px;
    text-decoration: underline;
}
.estilo-enlace
{
    color:navy;
    text-decoration: none;
}
.estilo-enlace:hover
{
    color:navy;
    text-decoration: underline;
}
.estilo-input-perfil
{
    color:gray;
    height:16px;
    width:190px;
    margin-left:5px;
    margin-right:5px;
}
.estilo-input{
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

.estilo-input:focus
{
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
}
DIV#loader {
  position:absolute;
  z-index:5000;
  width: 100px;
  height: 100px;
  top:400px;
  left:50%;
  display:none;
}

/**
 * While we're having the loading class set.
 * Removig it, will remove the loading message
 */
DIV#loader.loading {
  background: url(../images/cargando.gif) no-repeat center center;
}
#contenedor-megusta {color:gray;position:absolute; top:2px;  float:left; left:0px; font-size:10px;width:90px; height:38px;line-height:14px;text-align:left;}
#contenedor-megusta #bt-megusta{width:85px; height:30px; top:0px;}
#contenedor-megusta #txt-megusta{height:20px;padding-left:5px; vertical-align: middle; float:left; padding-top:6px;}
#contenedor-megusta #txt-megusta a{font-size:10px;font-weight:bold;  font-family: Verdana; text-decoration: none; color:#254578;}
#contenedor-megusta-contenido{position:absolute; top:10 px; height:20px;left:93px; float:left;
                              width:300px;font-size:10px;  font-family: Verdana; text-decoration: none; color:gray;}
#contenedor-megusta-contenido span{font-size:10px;font-weight:bold; font-family: Verdana; color:#254578;}
#contenedor-megusta-imagenes{position:absolute; top:25px; left:93px; float:left;width:300px;}
#contenedor-megusta-imagenes img{height:27px;border:1px solid #EEEEEE;margin:0px;}


#contenedor-share {color:gray;position:absolute; float:right;height:52px; top:2px; left:405px; font-size:10px;width:140px; line-height:14px;text-align:right;margin-right:10px;}
#contenedor-share span{font-size:12px;font-weight:bold; font-family: Verdana; color:#254578;}

#contenedor-contador-reproducciones {float:right;display:block; height:30px; width:150px;color:gray;position:absolute; top:70px; left:405px; font-size:10px;width:140px; line-height:14px;text-align:right;margin-right:10px;}

#contenedor-ranking {float:right; width:155px;color:gray;position:absolute; top:125px; left:400px; font-size:10px;}


#contenedor-comentarios {color:gray;position:absolute; top:175px; display:none; float:left; left:0px; font-size:10px;width:350px; height:40px;line-height:14px;text-align:left;}
#contenedor-comentarios-contenido {color:gray;position:absolute; top:45px;  float:left; left:0px; font-size:10px;width:385px; height:130px;line-height:14px;text-align:left;border:gray;}
#contenedor-comentarios-contenido a{ font-size:9px;}
#contenedor-comentarios-contenido a:hover{color:gray;font-size:9px; text-decoration:underline; display:inline;}
#contenedor-comentarios-contenido #contenedor-comentarios-denunciar{float:right;}
#contenedor-comentarios-contenido #contenedor-comentarios-texto-autor{margin-left:5px;float:left;color:blue; width:290px; height:5px; line-height: 10px; }
#contenedor-comentarios-contenido #contenedor-comentarios-texto{margin-left:5px;margin-top:5px;float:left; width:290px; height:20px; line-height: 10px; }
#contenedor-comentarios-contenido #contenedor-comentario-individual{width:100%; height:35px;}
#contenedor-comentarios-contenido #contenedor-comentarios-imagen{float:left; width:30px; margin-top:5px; text-align:center;}
#contenedor-comentarios-enlaces {  position:absolute; top:145px;  float:left; left:0px; width:350px; height:15px;line-height:14px;text-align:left;}
#contenedor-comentarios-enlaces a{ color:gray; font-size:10px; text-decoration: underline;}
.transparente{ filter:alpha(opacity=50); -moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
.semitransparente{ filter:alpha(opacity=80); -moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8; }