/* Titles */

.section-title { margin-top: 0; width: 550px; background: #003f7d no-repeat; border: none; }


#content .highlight-words { color: #427abf; }
#content .content-track { margin: 0 auto; font-size: 1.1em; text-align: center; width: 550px; background: #f0f0f0; line-height: 1em; } /* Cambia */
#content .content-track .border-picture { float: left; margin: 10px; }
#content .content-track  p { text-align: left; padding-top: 10px; }
#content .content-track .title-track { font-size: 0.8em; }
#content .content-track .title-track a { color: black; text-decoration: none; }
#content .content-track .title-track a:hover { text-decoration: underline; }
#content .content-track .artist-name-2 { font-size: 0.8em; text-align: left; float: left; width: 100%; padding-left: 15px; line-height: 30px; vertical-align: middle; }
#content .content-track .artist-name-2 a { color: black; text-decoration: none; }
#content .content-track .artist-name-2 a:hover { text-decoration: underline; }
#content .content-track .albums-see { float: right; width: 130px; line-height: 30px; }
#content .content-track .albums-see img { vertical-align: middle; vertical-align: middle; }
#content .content-track .album-name { color: #427abf; font-size: 0.7em; text-align: left; }
#content .content-track .album-name a { color: #2864aa; text-decoration: none; } /* Cambia */
#content .content-track .album-name a:hover { text-decoration: underline; } /* Cambia */
#content .content-track .artist-name { font-size: 0.7em; text-align: left; }
#content .content-track .artist-name a { color: black; text-decoration: none; } /* Cambia */
#content .content-track .artist-name a:hover { text-decoration: underline; } /* Cambia */
#content .content-track .download-button { float: right; padding-right: 5px; margin-bottom: 10px; }
#content .content-track .download-button .space-icons { margin: 0px 5px 0 0; }
#content .content-track .download-button .space-icons-2 { margin: 20px 5px 0 0; }
#content .content-track-color { background: #fff; }
#content .content-artist { height: 30px; line-height: 30px; }
#content .pagination { margin: 0 auto; text-align: center; width: 550px; margin-top: 10px; font-size: 0.7em; color: #2c2c2c; } /* Cambia */
#content .pagination a { color: #2f64a8; text-decoration: none; } /* Cambia */
#content .pagination a:hover { color: #2f64a8; text-decoration: underline; } /* Cambia */
#content .without-result { padding: 10px 5px; margin: 0 auto; font-size: 0.8em; width: 540px; background: #001948; line-height: 1em; }